* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body {
    background: #DAF0FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
    width: 375px;
    height: 568px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 20px;
}

input {
    font-size: 48px;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    background: #17181A;
    border: none;
    outline: none;
    text-align: right;
    padding-top: 50px;
}

button {
    font-size: 24px;
    border-radius: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.black-button {
    background: #303136;
}

.blue-button {
    background: #005DB2;
}

.equal-button {
    background: #1991FF;
}

.gray-button {
    background: #616161;
}

.zero { 
    grid-column: 1 / 3;
}

.equal {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}